/* GLOBAL */

body{
	font-family: 'Open Sans', sans-serif;
	color: #373037;
}
.h1, .h2, .h3, h1, h2, h3{
	margin-top: 0;
	margin-bottom: 0;
}

h1{
	text-align: center;
	font-size: 26px;
}

img{
	max-width: 100%;
	height: auto;
	max-height: 300px;
}

p{
	margin: 0;
}

.row .col{
	padding: 0;
}


.cursor_pointer{
	cursor: pointer;
}

.back_grey{
	background-color: #dadada !important;	
}

.back_purple{
	background-color: #373037;	
	color: #ffffff;
}

.back_darkgrey{
	background-color: #a8a8a8;	
}

.small_padding{
	padding: 10px 30px;
}

.footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	background-color: #a8a8a8;
	padding: 5px 0;
}

.body-wrapper{
	margin-bottom: 35px;
}


/* HEADER */

.header{
	height: 100px;
	background-color: #a8a8a8;
	width: 100%;
	padding: 10px;
}

.cart_wrapper{
	color: #373037;
	display: inline-block;
}

.cart_wrapper i{
	font-size: 60px;
}

.header .logo{
	float: right;
	display: inline-block;
	max-height: 80px;
}

.cart_wrapper p{
	background-color: #dadada;
	border-radius: 50%;
	color: #373037;
	height: 27px;
	width: 27px;
	text-align: center;
	padding-top: 2px;
	margin-top: -41px;
	position: relative;
}



/* PAGE CATEGORIE */


.wrapper_item{
	text-align: center;
}

.item_picture{
	text-align: center;
}

.item_info{
	height:40px;
}

.item_info p{
	display: inline-block;
	height:40px;
	text-align: center;
	font-size: 26px;
	line-height: 40px;
}



.item_info h2.col{
	display: inline-block;
	height:40px;
	font-size: 18px;
	line-height: 40px;
	padding-left: 10px;
	text-align: left;
}


/* PAGE ARTICLE */

.buttonPrevious{
	margin-right: 15px;
	margin-top: 5px;
	margin-left: 5px;
}
.buttonPrevious p{
	line-height: 35px;
}

.item_img{
	max-width: 100%;
	max-height: 100%;
}

.border{
	border: 1px solid #373037;
}

.article_description{
	text-align: justify;
}

.article_description h1{
	font-size: 30px;
	padding-bottom: 20px;
}

.article_description p{
	padding: 5px 0;
}

.article_description span{
	font-size: 18px;
	font-weight: bold;
}

.price{
	font-size: 24px;
}

.addToCartButton.btn, .deleteItem.btn, .refreshCart.btn, .pay.btn{
	width: 100%;
	background-color: #373037;
	font-size: 26px;
	padding: 0 5px;
	text-transform: initial;
}

.previousButton.btn{
	width: 100%;
	background-color: #373037;
	font-size: 18px;
	padding: 0 5px;
	text-transform: initial;
}

/* PAGE PANIER */

.cart_article{
	padding: 10px !important;
	border-top: 3px solid #373037;
}

.cart_article img{
	width: 80px !important;
	height: auto;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px; 
}

.cart_article h2{
	font-size: 16px;
	clear: right;
	padding-top: 10px;
}

.cart_article p{
	display: inline-block;
}

.cart_article .price{
	text-align: right;
}


div.cart_article{
	background-color: #dadada;
}

select{
	display: inline-block;
}

form label{
	color: #373037;
}

.paiment_info{
	border-top: 3px solid #373037;
	padding-top: 10px !important;
}

.refreshCart.btn{
	font-size: 15px;
}